{% extends 'base.html' %}

{% block content %}

<h1 align="center">BlogZ!</h1>

{% if posts|length == 0 %}

    <p>Create your first blog post!</p>

{% else %}

    {% for post in posts %}

    <center>
        <a href="/blog?id={{blog.id}}"><h2>{{blog.title}}</h2></a>
        <br>
        <p>{{blog.body}}</p>
        <br>
        <p>Written by <a href="/blog?user={{blog.owner_id}}">{{blog.user.username}}</a></p>
    </center>
        
        <hr />
    {% endfor %}


{% endif %}

{% endblock %}